@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #6495ed;
}
a{
    color: yellowgreen;
}
th, td {
    padding: 10px;
    border: 1px solid #333;
  }

li {
    padding: 10px;
}

.button {
    border-top: 1px solid #96d1f8;
    background: #65d774;
    background: -webkit-gradient(linear, left top, left bottom, from(#26cf34), to(#c6d765));
    background: -webkit-linear-gradient(top, #26cf34, #c6d765);
    background: -moz-linear-gradient(top, #26cf34, #c6d765);
    background: -ms-linear-gradient(top, #26cf34, #c6d765);
    background: -o-linear-gradient(top, #26cf34, #c6d765);
    padding: 11px 22px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 19px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .button:hover {
    border-top-color: #d4e20d;
    background: #b0d40c;
    color: rgb(202, 225, 226);
    }
 .button:active {
    border-top-color: #1b5e2c;
    background: #1b5e2c;
    }

.empty {
  color: #e81c4f;
}
#fondo-azul-claro{
    background-color: rgba(64, 224, 208, 0.062);
}